@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c|Poppins');

//----------------------------choice fonts
$pobalfont: 'Poppins', sans-serif;
$sitefont:'M PLUS Rounded 1c', sans-serif;

//----------------------------colors
$sitecolour1: #ff7f50;
$sitecolour2: #ffa500;
$sitecolourlight:#FFCC99;
$box-highlight-colour: #FFCC99;
$colourcontrastdark: #513883;
$colourcontrastlight: #A280B9;
$colourcontrastlightest: #CFC8DE;

//--------------------------------------placholder variables
//----------------------------colours
%font-color{
  color: #FDFAF5;  
}

//----------------------------icons
%icon{
  padding: 5px;
  color:#FFCC99;
}

//----------------------------backgrounds
%background-gradient-orange{
    background:linear-gradient(to bottom right, #ff7f50, #ffa500);
}

%background-gradient-contrast{
  background:linear-gradient(to bottom left,#513883, #A280B9);
}

%background-ticket{
  background-color:#F7EBE1;
}

//----------------------------special styles
%ticket-style{
  padding: 20px;
  border-style: solid;
}
