{% extends 'base.html' %}{% load static from staticfiles %} {% block content %}

<div class="row container center font30px">
    <div class="col s12 m12 l12 xl12">
        <p class='sitefont sitecolourlight'> Browse tickets for inspiration, and become an active Poblian by creating your own tickets. The good people at Pobal are standing by waiting for the next feature to develop. As always, what that will be is up to you! So go ahead, dive in..
        </p>
    </div>
</div>
{% for ticket in all_tickets %}
<div class="row container">
    <div class="col s12 m12 l12 xl12">
        <div class='row sitefont sitecolour1 ticket-style box-highlight-colour'>
            <div class="col s12 m12 l12 xl12">
                <div class="row">
                    <div class="col s2 m3 l3 xl3">
                        <img src="/media/{{ ticket.image }}" width='50%' height='50%'>
                    </div>
                    <div class="col s8 m6 l6 xl6">
                        <h5 class='sitefont sitecolour1'>{{ ticket.title | title }}</h5>
                        <h6>{{ ticket.description }}</h6>
                    </div>
                    <div class="col s2 m3 l3 xl3">
                        <p>{{ ticket.date }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12 l12 xl12">
                        <p>{{ ticket.detail|truncatewords:30 }}</p>
                        <p><a href="{% url 'ticket_detail' ticket.id %}">Read more</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row icon sitecolourlight center">
            <div class="col s3 m3 l3 xl3">
                <i class="far fa-comment-dots fa-2x"></i>
                <p>{{ ticket.comments.count}}</p>
            </div>
            <div class="col s3 m3 l3 xl3">
                <i class="far fa-eye fa-2x"></i>
                <p>{{ticket.views}}</p>
            </div>
            <div class="col s3 m3 l3 xl3">
                <i class="far fa-star fa-2x"></i>
                <p>{{ticket.likes}}</p>
            </div>
            <div class="col s3 m3 l3 xl3 colourcontrastlight">
                <a href="{% url 'add_to_cart' ticket.id %}">
                    <i class="far fa-money-bill-alt fa-2x"></i>
                </a>
                <p>€{{ticket.price}}</p>
            </div>
        </div>
    </div>
</div>

{% endfor %} {% endblock %}
