{% extends 'base.html' %}{% load static from staticfiles %} {% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" rel="stylesheet" />

<div class="row container center font25px">
    <div class="col s12 m12 l12 xl12">
        <p class='sitefont sitecolourlight'> Welcome to Pobal Studio. Browse tickets for inspiration, and become an active Poblian by creating your own tickets. The good people at Pobal are standing by waiting for the next feature to develop. As always, what that will be is up to you! So go ahead, dive in and make the world of Pobal better for everyone!
        </p>
    </div>
</div>

<div class="container responsive-table table-status-sheet scrollable box-highlight-colour sitefont sitecolour1">
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Views</th>
                <th>Comments</th>
            </tr>
        </thead>
        {% for ticket in all_tickets %}
        <tbody class='center-text'>
            <tr>
                <td>
                    <img src="/media/{{ ticket.image }}" width='50%'>
                </td>
                <td>
                    <a href="{% url 'ticket_detail' ticket.id %}">
                        <h5 class='sitefont sitecolour1'>{{ ticket.title | title }}</h5>
                    </a>
                </td>
                <td>
                    <i class="far fa-comment-dots">
                      <p>{{ ticket.comments.count}}</p>  
                    </i>
                </td>
                <td>
                    <i class="far fa-eye">
                      <p>{{ ticket.views}}</p>  
                    </i>
                </td>
                <td>{{ ticket.price }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

{% endblock %}
