{% extends 'base.html' %} {% block content %}

<html>

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Practical Development', 3],
                ['Brainstorming', 2],
                ['Design', 2],
                ['Meetings', 3]
            ]);

            var options = {
                title: 'Pobal Community Development Pie Chart',
                backgroundColor: '#fff2ed',
                pieHole: 0.4,
                colors:[
                    '#ff7f50',
                    '#ffa500', 
                    '#CFC8DE', 
                    '#513883'
                ]
            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart.draw(data, options);
        }
         google.charts.load('current', {
        'packages':['geochart'],
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['Country', 'Pobal Community Members'],
          ['Ireland', 200],
        ]);

        var options = {
            title: 'Community Members',
            backgroundColor: '#A280B9',
        };

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
      }
    </script>
</head>

<body>
    <div class="row container">
        <div class='col s12 m12 l12 xl12' id="donutchart" style="width: 900px; height: 500px;"></div>
        <div class='col s12 m12 l12 xl12' id="regions_div" style="width: 900px; height: 500px;"></div>
    </div>
</body>
</html>

{% endblock %}
