{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col s12 m12 l12 xl12 center">
        <h3 class='sitefont sitecolourlight'>Leave a Comment</h3>
    </div>
</div>
<div class="row container sitecolour1 box-highlight-colour">
    <div class="col s12 m12 l12 xl12">
        <div class="row center light-padding-top">
            <div class="col s12 m12 l12 xl12">
                <i class="far fa-comment-dots fa-5x"></i>
            </div>
        </div>
        <div class="row center light-padding-top">
            <div class="col s12 m12 l12 xl12">
                <p class='sitefont sitecolour1 font20px'>
                    Write a comment to let the community know your thoughts or suggestions about this tickets!
                </p>
            </div>
        </div>
        <div class="row center">
            <div class="col s12 m12 l12 xl12">
                <form method="POST">{% csrf_token %} {{ form.as_p }}
                    <button type="submit" class="button">Publish</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
