{% extends 'base.html' %} {% load bootstrap_tags %} {% block content %}

<div class="row">
    <div class="col s12 m12 l12 xl12 center">
        <h3 class='sitefont sitecolourlight'>Create a New Ticket</h3>
    </div>
</div>
<div class="row container sitecolour1 box-highlight-colour">
    <div class="col s12 m12 l12 xl12">
        <div class="row center light-padding-top">
            <div class="col s12 m12 l12 xl12">
                <i class="fas fa-ticket-alt fa-5x"></i>
            </div>
        </div>
        <div class="row center light-padding-top">
            <div class="col s12 m12 l12 xl12">
                <p class='sitefont sitecolour1 font20px'>
                    add tickets to voice your ideas to the community. If someone decides its a great idea and buys your ticket, our developers will get working on it asap!
                </p>
            </div>
        </div>
        <div class="row center">
            <div class="col s12 m12 l12 xl12">
                <form method='POST' action='{% url "new_ticket" %}' enctype="multipart/form-data">
                    <fieldset class='form-group'>
                        {% csrf_token %} {{ ticketForm | as_bootstrap }}
                        <button type="submit" class="button">Save</button>
                    </fieldset>

                </form>
            </div>
        </div>
    </div>
    {% endblock %}
