{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %} {% block content %}

<div class="row container box-highlight-colour sitefont">
    {% for item in cart_items %}
    <div class="col s12 m12 l12 xl12">
        <div class="row">
            <div class="col s3 m4 l4 xl4">
                <img src="url('{{MEDIA_URL}}{{item.ticket.image}}')"></img>
            </div>
            <div class="col s9 m8 l8 xl8">
                <h5>{{item.ticket.title}}</h5>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col s12 m12 l12 xl12">
                <p>Total Cost:<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}</p>
                <form class="form-inline" method="post" action="{% url 'checkout' %}">
                    {% csrf_token %}
                    <legend>Payment Details</legend>
                    <div id="credit-card-errors" style="display:none">
                        <div class="alert-message block-message error" id="stripe-error-message"></div>
                    </div>
                    <div class="form-group col-md-6">
                        {{ order_form|as_bootstrap }}
                    </div>

                    <div class="form-group col-md-6">
                        {{ payment_form|as_bootstrap }}
                    </div>
                    <button type="submit" class="btn btn-primary" id="submit_payment_btn" name="commit" type="submit">Pay Now</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
