// fonts
.sitefont{
    font-family: $sitefont;
}

.brandfont{
    font-family: $pobalfont;
}

// colours
.font-color{
    @extend %font-color;
}

.background-orange{
    @extend %background-gradient-orange;
}

//alignment, padding & margins
.left {
    float: left;
    padding-left: 10px;
}

.right {
    float: right;
    padding-right: 10px;
}

.center-text {
    text-align: center;
}

.spacer {
    padding: 5px;
}

.half-width {
    width: 50%;
}

.medium-padding-top {
    margin: 50px;
}

.light-padding-top {
    padding-top: 20px;
}