//----------------------------fonts
.sitefont{
    font-family: $sitefont;
}

.brandfont{
    font-family: $pobalfont;
}

.font18px{
    font-size: 18px;
}

.font20px{
    font-size: 20px;
}

.font30px{
    font-size: 30px;
}
//----------------------------icons
.icon i{
    @extend %icon;
}
//----------------------------colours
.font-color{
    @extend %font-color;
}

.sitecolour1{
    color: $sitecolour1;
}

.sitecolour2{
    color: $sitecolour2;
}

.sitecolourlight{
    color: $sitecolourlight;
}

.colourcontrastlightest{
    color: $colourcontrastlightest;
}

.colourcontrastlight a li{
    color: $colourcontrastlight;
}

.colourcontrastdark{
    color: $colourcontrastdark;
}

.box-highlight-colour{
    background-color: $box-highlight-colour;
}

.background-contrast{
    @extend %background-gradient-contrast;
}

.background-orange{
    @extend %background-gradient-orange;
}

.background-ticket{
    @extend %background-ticket;
}

//----------------------------alignment, padding & margins
.left {
    float: left;
    padding-left: 10px;
}

.right {
    float: right;
    padding-right: 10px;
}

.center-text {
    text-align: center;
}

.spacer {
    padding: 5px;
}

.half-width {
    width: 50%;
}

.heavy-padding-top {
    padding-top: 100px;
}

.medium-margin{
    margin: 50px;
}

.light-padding-top {
    padding-top: 20px;
}

.container-light{
    padding:20px;
}

//----------------------------special styles
.ticket-style{
    @extend %ticket-style;
}

//----------------------------buttons
.button{
    @extend %button;
}