//----------------------------body
html,
body {
    width: 100%;
    height: 100%;
}

//----------------------------fonts
.sitefont {
    font-family: $sitefont;
}

.brandfont {
    font-family: $pobalfont;
}

.font18px {
    font-size: 18px;
}

.font20px {
    font-size: 20px;
}

.font25px {
    font-size: 25px;
}

.font30px {
    font-size: 30px;
}

//----------------------------icons
.icon i {
    @extend %icon;
}

.icon-rev i{
    @extend %icon-rev;
}

//----------------------------colours
.font-color {
    @extend %font-color;
}

.sitecolour1 {
    color: $sitecolour1;
}

.sitecolour1tint-bg {
    background-color: $sitecolour1tint;
}

.sitecolour2 {
    color: $sitecolour2;
}

.sitecolourlight {
    color: $sitecolourlight;
}

.colourcontrastlightest {
    color: $colourcontrastlightest;
}

.colourcontrastlight ul li a {
    color: $colourcontrastlight;
}

.colourcontrastdark {
    color: $colourcontrastdark;
}

.colouralert-bg{
    background-color: $colouralert;
}

.box-highlight-colour {
    background-color: $box-highlight-colour;
}

.background-contrast {
    @extend %background-gradient-contrast;
}

.background-orange {
    @extend %background-gradient-orange;
}

.background-ticket {
    @extend %background-ticket;
}

//----------------------------alignment, padding & margins
.left {
    float: left;
    padding-left: 10px;
}

.right {
    float: right;
    padding-right: 10px;
}

.center-text {
    text-align: center;
}

.spacer {
    padding: 5px;
}

.half-width {
    width: 50%;
}

.heavy-padding-top {
    padding-top: 100px;
}

.medium-margin {
    margin: 50px;
}

.light-padding-top {
    padding-top: 20px;
}

.container-light {
    padding: 20px;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

//----------------------------special styles
.ticket-style {
    @extend %ticket-style;
}

//----------------------------tables
.scrollable{
    display: block;
    height: 300px;
    overflow: auto; 
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead {
    width: calc( 100% - 1em)
}

table {
    width: 100%;
}


//----------------------------buttons
.button {
    @extend %button;
}
