{% extends 'base.html' %} {% load static from staticfiles %} {% block content %}
<div class="row container center">
    {% for item in cart_items %}
    <div class="col s12 m12 l12 xl12">
        <div class="row">
            <div class="col s3 m4 l4 xl4">
                <img src="url('{{MEDIA_URL}}{{item.ticket.image}}')"></img>
            </div>
            <div class="col s9 m8 l8 xl8">
                <h5 class='sitefont sitecolourlight'>{{item.ticket.title}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col s6 m6 l6 xl6">
                <form class="form-inline" method="post" action="{% url 'edit_cart' item.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <input name="ticket_id" type="hidden" value='{{ item.id }}'>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Remove Item</button>
                </form>
            </div>
            {% endfor %}
            <div class="col s6 m6 l6 xl6">
                <p>Total Cost:<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}</p>
                <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
