%button{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    font-family: $sitefont;
    font-size: 20px;
    text-align: center;
    color: $colourcontrastlightest;
    background:linear-gradient(to bottom right,#513883, #A280B9);
}

%buttonsubmit{
    text-align: center;
    color: $sitecolour1;
    border: none;
    background:none;
    padding: 0;
    margin: none;
}