%button{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    font-family: $sitefont;
    font-size: 20px;
    text-align: center;
    color: $colourcontrastlightest;
    background:linear-gradient(to bottom right,#513883, #A280B9);
}