{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pobal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.sidenav').sidenav();
            $('.scrollspy').scrollSpy();
            $('.sidenav').sidenav();
        });
    </script>
    {% block head_js %} {% endblock head_js %}
</head>

<body class='background-orange'>
    <div class='container-light'>
        <div>
            <!---header--->
            <header class='header'>
                <div class="row right sitefont sitecolourlight">
                    <div class='col s6 m6 l6 xl 6 icon right'><i class="fas fa-user-circle fa-3x"></i>
                        <br>{{ user }}</div>
                </div>
            </header>
            <main>
                <!---navigation--->
                <ul id="slide-out" class="sidenav sitefont background-contrast colourcontrastlight">
                    <li>
                        <div class="user-view">
                            {% if user.is_authenticated %}
                            <a href="#user"><img class="circle" src="{{ userimage }}"></a>
                            <a href="#name"><span class="white-text name">{{ user }}</span></a>
                            <a href="#email"><span class="white-text email">{{ email }}</span></a>
                            <a href="{% url 'logout' %}" class='sitefont colourcontrastlightest'>Log Out</a>
                        </div>
                    </li>
                    <li><a href="{% url 'home' %}"><i class="fas fa-home"></i></i>Home</a></li>
                    <li>
                        <div class="divider"></div>
                    </li>
                    <li><a href="{% url 'profile' %}"><i class="fas fa-user-circle"></i>MyProfile</a></li>
                    <li>
                        <div class="divider"></div>
                    </li>
                    <li><a href="{% url 'ticket_form' %}"><i class="fas fa-plus-circle"></i>Create Ticket</a></li>
                    <li>
                        <div class="divider"></div>
                        <li><a href="{% url 'tickets' %}"><i class="fas fa-ticket-alt"></i>View Tickets</a></li>
                        <li>
                            <div class="divider"></div>
                        </li>
                        <li><a href="{% url 'render_chart' %}"><i class="fas fa-chart-pie"></i>View Statistics</a></li>
                        <li>
                            <div class="divider"></div>
                        </li>
                        <li>
                            <a href="{% url 'view_cart' %}">
                        <i class="fas fa-shopping-cart"></i> Cart
                        {% if product_count > 0 %}
                        <label class="badge badge-warning">{{ product_count }}</label>
                        {% endif %}
                    </a>
                        </li>
                        {% else %}
                        <li><a href="{% url 'register' %}">Register</a></li>
                        <li><a href="{% url 'login' %}">Log In</a></li> {% endif %}
                </ul>
                <ul id="slide-out" class="sidenav">
                    <li><a class="sidenav-close" href="#!">Clicking this will close Sidenav</a></li>
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large icon"><i class="fas fa-bars fa-2x"></i></a>

                <!---dashboard body--->
                {% block content %} {% endblock %}
            </main>
        </div>
    </div>
    <!---footer--->
    <footer>
        <div class='page-footer spacer sitefont' style='background-color: #A280B9; color: #CFC8DE;'><strong>Pobal App 2018&copy</strong>| a project for CI Dublin<i class="fas fa-project-diagram"></i>
        </div>
    </footer>
</body>

</html>
